---

- name: '{{ role_name }} | Check if glab is installed'
  ansible.builtin.command: glab --version
  register: glab_check
  changed_when: false
  failed_when: false

- name: '{{ role_name }} | Extract installed glab version'
  ansible.builtin.set_fact:
    glab_installed_version: '{{ glab_check.stdout | regex_search("([0-9]+\\.[0-9]+\\.[0-9]+)")}}'
  when: glab_check.rc == 0

- name: '{{ role_name }} | Decide if update is required'
  ansible.builtin.set_fact:
    glab_needs_install: '{{ glab_installed_version is not defined or glab_installed_version != glab_version }}'

- name: '{{ role_name }} | Download glab .tar.gz'
  ansible.builtin.get_url:
    url: https://gitlab.com/gitlab-org/cli/-/releases/v{{ glab_version }}/downloads/glab_{{
      glab_version }}_linux_{{ glab_architecture }}.tar.gz
    dest: /tmp/glab_{{ glab_version }}_linux_{{ glab_architecture }}.tar.gz
    mode: '0644'
  when: glab_needs_install

- name: Create /tmp/glab directory
  ansible.builtin.file:
    path: /tmp/glab
    state: directory
    mode: '0755'

- name: '{{ role_name }} | Extract glab tar.gz'
  ansible.builtin.unarchive:
    src: /tmp/glab_{{ glab_version }}_linux_{{ glab_architecture }}.tar.gz
    dest: /tmp/glab
    remote_src: true
    extra_opts:
      - --strip-components=1
  become: true
  when: glab_needs_install

- name: '{{ role_name }} | Move glab binary to /usr/local/bin'
  ansible.builtin.copy:
    src: /tmp/glab/glab
    dest: /usr/local/bin/glab
    mode: '0755'
    remote_src: true
  become: true
  when: glab_needs_install

- name: '{{ role_name }} | Clean up downloaded tar.gz'
  ansible.builtin.file:
    path: /tmp/glab_{{ glab_version }}_linux_{{ glab_architecture }}.tar.gz
    state: absent
  become: true
  when: glab_needs_install

- name: '{{ role_name }} | Clean up extracted glab binary from /tmp'
  ansible.builtin.file:
    path: /tmp/glab
    state: absent
  become: true
  when: glab_needs_install
