---

- name: Install dependencies
  become: true
  ansible.builtin.apt:
    name:
      - gnupg
      - wget
      - apt-transport-https
      - ca-certificates
      - software-properties-common
    state: present
    update_cache: true

- name: Remove potentially incorrect GPG key
  become: true
  ansible.builtin.file:
    path: /usr/share/keyrings/mongodb-server-7.0.gpg
    state: absent

- name: Import the MongoDB GPG key
  become: true
  ansible.builtin.shell:
    cmd: wget -qO- https://pgp.mongodb.com/server-7.0.asc | gpg --dearmor > /usr/share/keyrings/mongodb-server-7.0.gpg
    creates: /usr/share/keyrings/mongodb-server-7.0.gpg

- name: Add the MongoDB repository
  become: true
  ansible.builtin.apt_repository:
    repo: deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-7.0.gpg
      ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse
    state: present
    filename: mongodb-org-7.0

- name: Install MongoDB
  become: true
  ansible.builtin.apt:
    name: mongodb-org
    state: present
    update_cache: true

- name: Start and enable MongoDB service
  become: true
  ansible.builtin.service:
    name: mongod
    state: started
    enabled: true

- name: Download MongoDB Compass
  become: true
  ansible.builtin.get_url:
    url: https://downloads.mongodb.com/compass/mongodb-compass_1.40.4_amd64.deb
    dest: /tmp/mongodb-compass.deb
    mode: '0644'

- name: Install MongoDB Compass
  become: true
  ansible.builtin.apt:
    deb: /tmp/mongodb-compass.deb
    state: present

- name: Remove downloaded MongoDB Compass .deb package
  become: true
  ansible.builtin.file:
    path: /tmp/mongodb-compass.deb
    state: absent
