---

- name: Chaotic | Receive GPG Key
  ansible.builtin.command:
    cmd: pacman-key --recv-key 3056513887B78AEB --keyserver keyserver.ubuntu.com
  changed_when: false
  become: true

- name: Chaotic | Sign GPG Key
  ansible.builtin.command:
    cmd: pacman-key --lsign-key 3056513887B78AEB
  changed_when: false
  become: true

- name: Chaotic | Install Keyring and Mirrorlist
  ansible.builtin.command:
    cmd: pacman -U --noconfirm 'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst'
      'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst'
  changed_when: false
  become: true

- name: Chaotic | Add Repo to pacman.conf
  ansible.builtin.blockinfile:
    path: /etc/pacman.conf
    block: |
      [chaotic-aur]
      Include = /etc/pacman.d/chaotic-mirrorlist
    marker: '# {mark} ANSIBLE MANAGED BLOCK: Chaotic AUR'
  become: true

- name: Chaotic | Update Pacman Cache
  ansible.builtin.pacman:
    update_cache: true
  become: true
