---

- name: Install GTK Themes and Tools
  ansible.builtin.package:
    name:
      - papirus-icon-theme
      - nwg-look
      - gnome-themes-extra
    state: present
  become: true

- name: Ensure Local Theme Directories Exist
  ansible.builtin.file:
    path: '{{ remote.HOME }}/{{ item }}'
    state: directory
    owner: '{{ remote.USER }}'
    group: '{{ remote.USER }}'
    mode: '0755'
  loop:
    - .themes
    - .icons

- name: Install Arc-Dark Theme Correctly
  become: true
  block:

    - name: Download and Unarchive Arc Theme
      ansible.builtin.unarchive:
        src: https://github.com/jnsh/arc-theme/releases/download/20221218/arc-theme-20221218.tar.xz
        dest: '{{ remote.HOME }}/.themes'
        remote_src: true
        owner: '{{ remote.USER }}'
        group: '{{ remote.USER }}'
        creates: '{{ remote.HOME }}/.themes/arc-theme-20221218'

    - name: Move Arc-Dark to correct path
      ansible.builtin.command:
        cmd: mv {{ remote.HOME }}/.themes/arc-theme-20221218 {{ remote.HOME }}/.themes/Arc-Dark
      args:
        creates: '{{ remote.HOME }}/.themes/Arc-Dark'

    - name: Cleanup Arc extraction artifact
      ansible.builtin.file:
        path: '{{ remote.HOME }}/.themes/arc-theme-20221218'
        state: absent

- name: Remove existing GTK config directories (if not symlinks)
  ansible.builtin.file:
    path: '{{ remote.dir.config }}/{{ item }}'
    state: absent
  loop:
    - gtk-3.0
    - gtk-4.0

- name: Symlink GTK Directories
  ansible.builtin.file:
    src: '{{ gtk_theme_role_path }}/files/{{ item }}'
    dest: '{{ remote.dir.config }}/{{ item }}'
    state: link
    force: true
    owner: '{{ remote.USER }}'
    group: '{{ remote.USER }}'
  loop:
    - gtk-3.0
    - gtk-4.0
