---

- name: SSH | Deploy private key
  ansible.builtin.copy:
    dest: '{{ remote.HOME }}/.ssh/{{ item.name }}'
    content: "{{ item.private_key }}\n"
    mode: '0600'
  no_log: true
  when: item.private_key is defined

- name: SSH | Deploy public key
  ansible.builtin.copy:
    dest: '{{ remote.HOME }}/.ssh/{{ item.name }}.pub'
    content: "{{ item.public_key | default('') }}"
    mode: '0644'
  no_log: true
  when: item.public_key is defined

- name: SSH | Deploy SSH config entry
  ansible.builtin.template:
    src: ssh_config.j2
    dest: '{{ remote.HOME }}/.ssh/config'
    owner: '{{ remote.USER }}'
    group: '{{ remote.USER }}'
    mode: '0600'
