---

- name: '{{ role_name }} | Checking for Distribution Config: {{ distribution }}'
  ansible.builtin.stat:
    path: '{{ role_path }}/tasks/{{ distribution }}.yml'
  register: distribution_config

- name: '{{ role_name }} | Run Tasks: {{ distribution }}'
  ansible.builtin.include_tasks: '{{ distribution }}.yml'
  when: distribution_config.stat.exists

- name: SSH | Ensure .ssh directory exists
  ansible.builtin.file:
    path: '{{ host_user }}/.ssh'
    state: directory
    mode: '0700'

- name: SSH | Copy SSH keys
  include_tasks: deploy_keys.yml
  loop: '{{ ssh_keys }}'
  loop_control:
    label: '{{ item.name }}'
