---

- name: 'Run Tasks: {{ remote.distribution }}'
  ansible.builtin.include_tasks: '{{ item }}'
  with_first_found:
    - files:
        - '{{ remote.distribution }}.yml'
      skip: true

- name: SSH | Ensure .ssh directory exists
  ansible.builtin.file:
    path: '{{ remote.USER }}/.ssh'
    state: directory
    mode: '0700'

- name: SSH | Copy SSH keys
  include_tasks: deploy_keys.yml
  loop: '{{ ssh_keys }}'
  loop_control:
    label: '{{ item.name }}'
