---

- name: Install Zsh
  become: true
  ansible.builtin.package:
    name: zsh
    state: present

- name: Set Zsh as default shell
  become: true
  ansible.builtin.user:
    name: '{{ remote.USER }}'
    shell: /usr/bin/zsh
  when: ansible_env.SHELL != "/usr/bin/zsh"

- name: Symlink .zshrc
  ansible.builtin.file:
    src: '{{ role_path }}/files/.zshrc'
    dest: '{{ remote.HOME }}/.zshrc'
    state: link
    force: true

- name: Symlink .p10k.zsh
  ansible.builtin.file:
    src: '{{ role_path }}/files/.p10k.zsh'
    dest: '{{ remote.HOME }}/.p10k.zsh'
    state: link
    force: true
