---

- name: Debug
  ansible.builtin.debug:
    msg: |
      User: {{ ansible_env.USER }}
      Shell: {{ ansible_env.SHELL }}
      Home: {{ ansible_env.HOME }}

- name: Install Zsh
  become: true
  ansible.builtin.package:
    name: zsh
    state: present
    update_cache: true

- name: Symlink .zshrc
  ansible.builtin.file:
    src: '{{ role_path }}/files/.zshrc'
    dest: '{{ ansible_env.HOME }}/.zshrc'
    state: link
    force: true

- name: Set Zsh as default shell
  ansible.builtin.user:
    name: '{{ ansible_env.USER }}'
    shell: /usr/bin/zsh
  when: ansible_env.SHELL != "/usr/bin/zsh"
