---


- name: Install Zsh on Ubuntu
  apt:
    name: zsh
    state: present
    update_cache: true

- name: Install Oh My Zsh
  git:
    repo: https://github.com/ohmyzsh/ohmyzsh.git
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh"
    depth: 1
    update: no

- name: Install Powerlevel10k
  git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1
    update: yes

- name: Install zsh-you-should-use
  git:
    repo: https://github.com/MichaelAquilina/zsh-you-should-use.git
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/you-should-use"
    update: yes

- name: Install zsh-autosuggestions
  git:
    repo: https://github.com/zsh-users/zsh-autosuggestions.git
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    update: yes

- name: Symlink .zshrc config
  file:
    src: "{{ role_path }}/files/zshrc"
    dest: "{{ ansible_env.HOME }}/.zshrc"
    state: link

- name: Symlink .p10k config
  file:
    src: "{{ role_path }}/files/p10k.zsh"
    dest: "{{ ansible_env.HOME }}/.p10k.zsh"
    state: link

- name: Set Zsh as default shell
  become: true
  user:
    name: "{{ ansible_env.USER }}"
    shell: /usr/bin/zsh

