---

- name: Install Zsh
  become: true
  apt:
    name: zsh
    state: present
    update_cache: yes

- name: Install Oh My Zsh
  shell: |
    export RUNZSH=no
    export CHSH=no
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  args:
    creates: "{{ ansible_env.HOME }}/.oh-my-zsh"
  tags: ohmyzsh

- name: Install Powerlevel10k
  git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/themes/powerlevel10k"
    version: master
    depth: 1
    update: yes

- name: Install zsh-you-should-use
  git:
    repo: "https://github.com/MichaelAquilina/zsh-you-should-use.git"
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/you-should-use"
    update: yes

- name: Install zsh-autosuggestions
  git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions.git"
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    update: yes

- name: Symlink .zshrc
  file:
    src: "{{ role_path }}/files/.zshrc"
    dest: "{{ ansible_env.HOME }}/.zshrc"
    state: link
    force: yes

- name: Symlink .p10k.zsh
  file:
    src: "{{ role_path }}/files/.p10k.zsh"
    dest: "{{ ansible_env.HOME }}/.p10k.zsh"
    state: link
    force: yes

- name: Set Zsh as default shell
  become: true
  user:
    name: "{{ ansible_env.USER }}"
    shell: /usr/bin/zsh
  when: ansible_env.SHELL != "/usr/bin/zsh"
