---

- name: '{{ role_name }} | Checking for Distribution Config: {{ distribution }}'
  ansible.builtin.stat:
    path: '{{ role_path }}/tasks/{{ distribution }}.yml'
  register: distribution_config

- name: '{{ role_name }} | Run Tasks: {{ distribution }}'
  ansible.builtin.include_tasks: '{{ distribution }}.yml'
  when: distribution_config.stat.exists

- name: Ensure kitty config directory exists
  file:
    path: '{{ kitty_config_dir }}'
    state: directory
    mode: '0755'

- name: Link custom kitty.conf
  file:
    src: '{{ role_path }}/files/kitty/kitty.conf'
    dest: '{{ kitty_config_dir }}/kitty.conf'
    state: link
