---

- name: 'Run Tasks: {{ distribution }}'
  ansible.builtin.include_tasks: '{{ item }}'
  with_first_found:
    - files:
        - '{{ distribution }}.yml'
      skip: true

- name: Ensure kitty config directory exists
  file:
    path: '{{ kitty_config_dir }}'
    state: directory
    mode: '0755'

- name: Link custom kitty.conf
  file:
    src: '{{ role_path }}/files/kitty/kitty.conf'
    dest: '{{ kitty_config_dir }}/kitty.conf'
    state: link
    force: true
