---

- name: 'Run Tasks: {{ remote.distribution }}'
  ansible.builtin.include_tasks: '{{ item }}'
  with_first_found:
    - files:
        - '{{ remote.distribution }}.yml'
      skip: true

- name: Ensure kitty config directory exists
  file:
    path: '{{ kitty_config_dir }}'
    state: directory
    mode: '0755'

- name: Remove existing kitty config if it's not a symlink
  ansible.builtin.file:
    path: '{{ kitty_config_dir }}'
    state: absent
  when: kitty_config_dir is not link

- name: Link custom kitty.conf
  file:
    src: '{{ kitty_src_dir }}'
    dest: '{{ kitty_config_dir }}'
    state: link
    force: true
