---

- name: Ensure kitty installation directory exists
  file:
    path: '{{ kitty_install_dir }}'
    state: directory
    mode: '0755'

- name: Download kitty installer
  get_url:
    url: https://sw.kovidgoyal.net/kitty/installer.sh
    dest: '{{ kitty_installer }}'
    mode: '0755'

- name: Run kitty installer
  ansible.builtin.shell: bash -o pipefail -c "{{ kitty_installer }}"
  args:
    chdir: '{{ user_dir }}'
    creates: '{{ kitty_install_dir }}/bin/kitty'
  tags:
    - skip_ansible_lint

- name: Ensure local bin directory exists
  file:
    path: '{{ kitty_bin_dir }}'
    state: directory
    mode: '0755'

- name: Symlink kitty and kitten to local bin
  file:
    src: '{{ kitty_install_dir }}/bin/{{ item }}'
    dest: '{{ kitty_bin_dir }}/{{ item }}'
    state: link
    force: true
  loop:
    - kitty
    - kitten

- name: Ensure desktop applications directory exists
  file:
    path: '{{ kitty_desktop_dir }}'
    state: directory
    mode: '0755'

- name: Copy kitty desktop files
  copy:
    src: '{{ kitty_install_dir }}/share/applications/{{ item }}'
    dest: '{{ kitty_desktop_dir }}/{{ item }}'
    remote_src: true
    mode: '0644'
  loop:
    - kitty.desktop
    - kitty-open.desktop

- name: Update paths in kitty desktop files
  vars:
    icon_path: '{{ kitty_install_dir }}/share/icons/hicolor/256x256/apps/kitty.png'
    exec_path: '{{ kitty_install_dir }}/bin/kitty'
  block:
    - name: Update Icon path in kitty desktop files
      lineinfile:
        path: '{{ item }}'
        regexp: ^Icon=
        line: Icon={{ icon_path }}
      loop: "{{ lookup('fileglob', kitty_desktop_dir + '/kitty*.desktop', wantlist=True) }}"
      loop_control:
        label: '{{ item }}'

    - name: Update Exec path in kitty desktop files
      lineinfile:
        path: '{{ item }}'
        regexp: ^Exec=
        line: Exec={{ exec_path }}
      loop: "{{ lookup('fileglob', kitty_desktop_dir + '/kitty*.desktop', wantlist=True) }}"
      loop_control:
        label: '{{ item }}'

- name: Set kitty as default xdg terminal
  copy:
    content: "kitty.desktop\n"
    dest: '{{ user_dir }}/.config/xdg-terminals.list'
    mode: '0644'
