---

- name: FZF | Uninstall pacman fzf
  ansible.builtin.package:
    name: fzf
    state: absent
  become: true

- name: FZF | Clone specific version
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    dest: '{{ remote.HOME }}/.fzf'
    version: v0.67.0
    depth: 1
    update: true
  notify: install fzf
