---

- name: FZF | Uninstall APT fzf
  ansible.builtin.apt:
    name: fzf
    state: absent
  become: true

- name: FZF | Clone specific version
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    dest: '{{ user_dir }}/.fzf'
    version: 0.67.0
    depth: 1
    update: true
  notify: install fzf
