---

- name: FZF | Uninstall APT fzf
  ansible.builtin.package:
    name: fzf
    state: absent
  become: true

- name: FZF | Check if fzf binary exists
  ansible.builtin.stat:
    path: '{{ remote.HOME }}/.fzf/bin/fzf'
  register: fzf_binary

- name: FZF | Clone specific version
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    dest: '{{ remote.HOME }}/.fzf'
    version: v0.67.0
    depth: 1
    update: true
  register: fzf_git_clone

- name: FZF | Install FZF binary
  ansible.builtin.command: '{{ remote.HOME }}/.fzf/install --all --no-update-rc
    --no-fish'
  args:
    chdir: '{{ remote.HOME }}/.fzf'
  when: fzf_git_clone.changed or not fzf_binary.stat.exists
  changed_when: true
