---

- name: Polybar | Install
  become: true
  ansible.builtin.package:
    name: polybar
    state: present
    update_cache: true

- name: Polybar | Deploy config
  ansible.builtin.file:
    src: '{{ role_path }}/files/polybar'
    dest: '{{ remote.HOME }}/.config/polybar'
    state: link
    force: true
