---

- name: Polybar | Install
  become: true
  ansible.builtin.package:
    name: polybar
    state: present
    update_cache: true

- name: Polybar | Get backlight card
  ansible.builtin.shell: |
    set -o pipefail
    ls -1 /sys/class/backlight/ | head -n 1
  register: polybar_backlight_card
  changed_when: false
  args:
    executable: /bin/bash
  failed_when: false

- name: Polybar | Get battery
  ansible.builtin.shell: |
    set -o pipefail
    ls -1 /sys/class/power_supply/ | grep 'BAT' | head -n 1
  register: polybar_battery
  changed_when: false
  args:
    executable: /bin/bash
  failed_when: false

- name: Polybar | Get adapter
  ansible.builtin.shell: |
    set -o pipefail
    ls -1 /sys/class/power_supply/ | grep 'AC' | head -n 1
  register: polybar_adapter
  changed_when: false
  args:
    executable: /bin/bash
  failed_when: false

- name: Polybar | Get wired network interface
  ansible.builtin.shell: |
    set -o pipefail
    nmcli -t -f DEVICE,TYPE dev | grep 'ethernet' | cut -d: -f1 | head -n 1
  register: polybar_wired_interface
  changed_when: false
  args:
    executable: /bin/bash
  failed_when: false

- name: Polybar | Get wireless network interface
  ansible.builtin.shell: |
    set -o pipefail
    nmcli -t -f DEVICE,TYPE dev | grep 'wifi' | cut -d: -f1 | head -n 1
  register: polybar_wireless_interface
  changed_when: false
  args:
    executable: /bin/bash
  failed_when: false

- name: Polybar | Get pulseaudio sink
  ansible.builtin.shell: |
    set -o pipefail
    pacmd list-sinks | grep 'name:' | sed 's/.*<//;s/>.*//' | head -n 1
  register: polybar_pulseaudio_sink
  changed_when: false
  args:
    executable: /bin/bash
  failed_when: false

- name: Polybar | Get temperature sensor path
  ansible.builtin.shell: |
    set -o pipefail
    for i in /sys/class/hwmon/hwmon*/temp*_input; do echo \\\"$(<$(dirname $i)/name): $(cat ${i%_*}_label 2>/dev/null || echo $(basename ${i%_*})) $(readlink -f $i)\\\"; done | grep 'coretemp' | awk '{print $NF}' | head -n 1
  register: polybar_temp_sensor_path
  changed_when: false
  args:
    executable: /bin/bash
  failed_when: false

- name: Polybar | Check for existing config
  ansible.builtin.stat:
    path: '{{ remote.HOME }}/.config/polybar'
  register: polybar_config_stat

- name: Polybar | Remove existing config symlink if it exists
  ansible.builtin.file:
    path: '{{ remote.HOME }}/.config/polybar'
    state: absent
  when: polybar_config_stat.stat.islnk is defined and polybar_config_stat.stat.islnk

- name: Polybar | Ensure config directory exists
  ansible.builtin.file:
    path: '{{ remote.HOME }}/.config/polybar'
    state: directory
    mode: '0755'

- name: Polybar | Copy static config files
  ansible.builtin.copy:
    src: '{{ role_path }}/files/polybar/'
    dest: '{{ remote.HOME }}/.config/polybar'
    remote_src: true
    mode: '0644'
    owner: '{{ remote.USER }}'
    group: '{{ remote.USER }}'

- name: Polybar | Find template files
  ansible.builtin.find:
    paths: '{{ role_path }}/templates'
    patterns: '*.j2'
    recurse: true
  register: polybar_templates

- name: Polybar | Deploy templated config files
  ansible.builtin.template:
    src: '{{ item.path }}'
    dest: '{{ remote.HOME }}/.config/polybar/{{ (item.path | replace(role_path + "/templates/", "") | regex_replace("\\.j2$", "")) }}'
    mode: '0644'
    owner: '{{ remote.USER }}'
    group: '{{ remote.USER }}'
  loop: '{{ polybar_templates.files }}'
  loop_control:
    label: '{{ item.path | relpath(role_path + "/templates") }}'
