---

- name: Brave | Install dependencies
  become: true
  ansible.builtin.apt:
    name: curl
    state: present

- name: Brave | Download GPG keyring
  become: true
  ansible.builtin.get_url:
    url: https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg
    dest: /usr/share/keyrings/brave-browser-archive-keyring.gpg
    mode: '0644'
    force: false 

- name: Brave | Add APT repository source file
  become: true
  ansible.builtin.get_url:
    url: https://brave-browser-apt-release.s3.brave.com/brave-browser.sources
    dest: /etc/apt/sources.list.d/brave-browser-release.sources
    mode: '0644'
    force: false

- name: Brave | Install Brave Browser
  become: true
  ansible.builtin.apt:
    name: brave-browser
    state: present
    update_cache: true 

- name: Execute Browser Setup Script
  ansible.builtin.command:
    cmd: '{{ setup_browsers_script }}'
  register: browser_setup
  changed_when: "'Created:' in browser_setup.stdout"
