[Desktop Entry]
Type=Application
Name=Chrome Entertainment
Exec=google-chrome --user-data-dir="/home/younes/chrome-configs/entertainment"  --class="entertainment"
Icon=google-chrome
