---
- name: UV | Download install script
  ansible.builtin.get_url:
    url: '{{ uv_install_script_url }}'
    dest: /tmp/uv-install.sh
    mode: '0755'

- name: UV | Run install script
  ansible.builtin.shell: /tmp/uv-install.sh --force --prefix {{ remote.HOME }}/.cargo
  args:
    creates: '{{ remote.HOME }}/.cargo/bin/uv'
  register: uv_install_output
  changed_when: uv_install_output.rc != 0

- name: UV | Clean up install script
  ansible.builtin.file:
    path: /tmp/uv-install.sh
    state: absent
