window {
  margin: 0px;
  border: 2px solid #1e1e2e;
  background-color: #1e1e2e;
  border-radius: 10px;
  font-family: "JetBrainsMono Nerd Font";
}

#input {
  margin: 5px;
  border: none;
  color: #cdd6f4;
  background-color: #313244;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1e1e2e;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1e1e2e;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #313244;
  border-radius: 5px;
}
