---

- name: 'Run Tasks: {{ remote.distribution }}'
  ansible.builtin.include_tasks: '{{ item }}'
  with_first_found:
    - files:
        - '{{ remote.distribution }}.yml'
      skip: true

- name: Clone Oh My Tmux Repo
  ansible.builtin.git:
    clone: true
    depth: 1
    dest: '{{ remote.HOME }}/.tmux'
    repo: https://github.com/gpakosz/.tmux.git
    single_branch: true
    update: true
    version: master
  register: clone

- name: Link .tmux.conf
  ansible.builtin.file:
    src: '{{ remote.HOME }}/.tmux/.tmux.conf'
    dest: '{{ remote.HOME }}/.tmux.conf'
    state: link
    force: true

- name: Link .tmux.conf.local
  ansible.builtin.file:
    src: '{{ role_path }}/files/.tmux.conf.local'
    dest: '{{ remote.HOME }}/.tmux.conf.local'
    state: link
    force: true
