---

- name: Install Hyprland Utilities
  ansible.builtin.package:
    name:
      - grim
      - slurp
      - wl-clipboard
      - cliphist
      # - hyprlock-git
      - swaylock
      - hypridle-git
    state: present
  become: true

- name: Ensure Screenshot Directory Exists
  ansible.builtin.file:
    path: '{{ remote.HOME }}/Pictures/Screenshots'
    state: directory
    owner: '{{ remote.USER }}'
    group: '{{ remote.USER }}'
    mode: '0755'
