---
- hosts: all
  tasks:
    - name: Debug ansible facts
      loop: '{{ ssh_keys }}'
      loop_control:
        loop_var: key
      debug:
        msg:
          name: "{{ key['name'] | default('NOT DEFINED') }}"
          public_key: "{{ key['public_key'] | default('NOT DEFINED') }}"
          private_key: "{{ key['private_key'] | default('NOT DEFINED') }}"
      tags:
        - always
