---

- name: 'Run Tasks: {{ distribution }}'
  ansible.builtin.include_tasks: '{{ item }}'
  with_first_found:
    - files:
        - '{{ distribution }}.yml'
      skip: true

- name: Check if nvim config exists
  ansible.builtin.stat:
    path: '{{ HOME }}/.config/nvim'
  register: nvim_config_stat

- name: Backup existing config if not a symlink
  when:
    - nvim_config_stat.stat.exists
    - not nvim_config_stat.stat.islnk
  ansible.builtin.command:
    cmd: mv {{ HOME }}/.config/nvim {{ HOME }}/.config/nvim.backup-{{timestamp}}
  args:
    creates: '{{ HOME }}/.config/nvim.backup-{{timestamp}}'

- name: Create symlink to role files directory
  ansible.builtin.file:
    src: '{{ role_path }}/files/nvim'
    dest: '{{ HOME }}/.config/nvim'
    state: link
    force: true
