---
- name: Gemini CLI | Install @google/gemini-cli
  ansible.builtin.shell: |
    source "{{ remote.HOME }}/.nvm/nvm.sh"
    npm install -g @google/gemini-cli
  args:
    executable: /bin/bash
    creates: "{{ remote.HOME }}/.nvm/versions/node/v{{ node_version }}/bin/gemini"
  changed_when: true
