---

- name: Install System UI and Compatibility Fonts
  ansible.builtin.package:
    name:
      - inter-font
      - noto-fonts
      - noto-fonts-emoji
      - ttf-liberation
    state: present
  become: true

- name: Ensure fonts directory exists
  ansible.builtin.file:
    path: '{{ remote.HOME }}/.local/share/fonts'
    state: directory
    mode: '0755'

- name: Install Nerd Fonts
  ansible.builtin.include_tasks: '{{ remote.distribution }}/install_font.yml'
  loop: '{{ nerd_fonts }}'
  loop_control:
    loop_var: nerd_font

- name: Refresh font cache
  ansible.builtin.command: fc-cache -fv
  changed_when: false
